In [23]:
import sklearn
import numpy as np
import pandas as pd

In [24]:
data = pd.read_csv("tweets.csv", encoding="latin-1")

In [25]:
data.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [26]:
data.tail()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [27]:
data.columns = ["target", "ids", "date", "flag", "user", "text"]

In [28]:
data = data[["target", "text"]]

In [29]:
sum(data["target"] == 0)

799999

In [30]:
sum(data["target"] == 2)

0

In [31]:
sum(data["target"] == 4)

800000

In [32]:
data = data.iloc[790000:-790000]

In [33]:
sum(data["target"] == 0)

9999

In [34]:
data.isnull().sum()

target    0
text      0
dtype: int64

# preprocessing start

In [35]:

import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import re

# Download required resources
nltk.download('punkt')
nltk.download('stopwords')


# Define preprocessing functions
def preprocess_text(text):
    # 1. Lowercase and remove special characters
    text = text.lower()
    text = re.sub(r"[^\w\s]", "", text)  # Remove punctuation and special characters
    
    # 2. Tokenization
    tokens = word_tokenize(text)
    
    # 3. Stopword Removal
    stop_words = set(stopwords.words("english"))
    tokens = [word for word in tokens if word not in stop_words]
    
    # 4. Stemming
    stemmer = PorterStemmer()
    tokens = [stemmer.stem(word) for word in tokens]
    
    return " ".join(tokens)

[nltk_data] Downloading package punkt to /Users/macbook/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/macbook/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [36]:
data["pr-text"]=data["text"].apply(preprocess_text)

In [37]:
# Save the processed dataset to a new CSV file
output_file_path = "processed_tweets.csv"
data.to_csv(output_file_path, index=False, encoding="utf-8")

print(f"Processed dataset saved to {output_file_path}")

Processed dataset saved to processed_tweets.csv

In [38]:
import sklearn
import numpy as np
import pandas as pd
data = pd.read_csv("processed_tweets.csv", encoding="latin-1")

In [39]:
data = data [["pr-text","target"]]

In [40]:
data.head()

                                             pr-text  target
0  sherilynmoon unfortun signal tweet photo phone...       0
1  drop car get brake look hope doesnt cost insan...       0
2  colin kelli clyde1 get one republ neyo im scho...       0
3  littl upset chanc take 4 5 realli cool pictur ...       0
4  batheaston bypass flow better london road stil...       0

# indexing

In [41]:
from collections import defaultdict
data['pr-text'] = data['pr-text'].astype(str)

def build_inverted_index(data):
    inverted_index = defaultdict(list)  # Dictionary with term as key, list of doc IDs as value
    
    for doc_id, text in enumerate(data['pr-text']):
        tokens = text.split()  # Split preprocessed text into tokens
        for token in set(tokens):  # Use set to avoid duplicate entries for the same doc
            inverted_index[token].append(doc_id)
    
    return inverted_index

# Build the inverted index
inverted_index = build_inverted_index(data)

# Display a sample of the index
for term, doc_ids in list(inverted_index.items())[:10]:  # Show first 10 terms
    print(f"{term}: {doc_ids}")

sherilynmoon: [0]
wale: [0, 7219, 12108, 13945]
photo: [0, 217, 329, 597, 1579, 1860, 2950, 3581, 3637, 3991, 4095, 4575, 5550, 5601, 5656, 5734, 6039, 6340, 6530, 7649, 8084, 9325, 10165, 10325, 10426, 10649, 10706, 11279, 11410, 11842, 11963, 12179, 12495, 13736, 13762, 13887, 14004, 14142, 14188, 14352, 14558, 14613, 14745, 14813, 14867, 14939, 14972, 15885, 15888, 16444, 16472, 16579, 16876, 16881, 16973, 17256, 17483, 17555, 18179, 18441, 18611, 18699, 18875, 18902, 18970, 19239, 19665]
signal: [0, 3366, 5549, 6276, 6587, 8875, 9634, 11024, 13667, 16806]
unfortun: [0, 49, 322, 855, 940, 1041, 1228, 1231, 1437, 1489, 1816, 2078, 2460, 3269, 3427, 3665, 3922, 4437, 4473, 4482, 4503, 4601, 4638, 4677, 4848, 5672, 5907, 5995, 6041, 6106, 6865, 7965, 9254, 9356, 11501, 11515, 12251, 12776, 14583, 19148, 19926]
phone: [0, 3, 40, 42, 107, 202, 296, 409, 432, 684, 732, 769, 990, 1105, 1215, 1306, 1324, 1555, 1659, 1687, 1721, 1826, 2020, 2108, 2125, 2213, 2314, 2322, 2330, 2389, 2425, 2471, 2609, 2655, 2809, 2841, 2865, 2872, 3016, 3023, 3253, 3417, 3579, 3600, 3641, 3765, 3949, 4025, 4274, 4311, 4324, 4339, 4341, 4368, 4467, 4576, 4608, 4657, 4870, 4881, 5059, 5105, 5259, 5378, 5381, 5393, 5497, 5546, 5611, 5640, 5749, 5758, 5815, 6050, 6055, 6123, 6280, 6493, 6530, 6690, 6787, 6812, 6850, 6968, 7115, 7127, 7361, 7382, 7384, 7431, 7456, 7628, 7632, 7642, 7682, 7706, 7794, 7805, 7856, 8383, 8398, 8420, 8605, 8888, 8910, 9264, 9293, 9336, 9361, 9481, 9487, 9763, 9920, 10041, 10306, 10572, 10982, 11225, 11240, 11421, 12000, 12399, 12440, 13052, 13085, 13138, 13402, 13992, 14115, 14212, 14214, 14309, 14410, 14562, 14672, 14913, 14929, 15409, 15512, 15550, 16182, 16187, 16263, 16404, 16612, 16807, 16925, 17253, 17522, 17653, 17737, 17755, 18204, 18236, 18329, 18893, 19388, 19531, 19640, 19961]
tweet: [0, 49, 91, 102, 229, 409, 419, 528, 571, 596, 614, 647, 727, 1067, 1132, 1174, 1234, 1324, 1378, 1461, 1597, 1864, 1978, 1990, 2020, 2058, 2146, 2179, 2185, 2682, 2697, 2768, 2775, 3006, 3085, 3312, 3530, 3657, 3862, 3980, 3995, 4023, 4447, 4852, 4861, 4974, 5071, 5221, 5693, 5782, 5858, 6385, 6428, 6475, 6508, 6690, 6927, 7126, 7206, 7252, 7310, 7438, 7496, 7530, 7659, 7841, 7865, 7955, 8261, 8378, 8593, 8722, 8920, 8983, 9031, 9386, 9553, 9798, 9862, 9950, 9991, 10096, 10155, 10279, 10294, 10299, 10385, 10483, 10643, 10656, 10697, 10726, 10731, 10914, 10924, 10935, 10943, 11034, 11042, 11104, 11164, 11394, 11415, 11455, 11477, 11763, 11910, 11932, 12048, 12055, 12063, 12168, 12296, 12363, 12390, 12478, 12577, 12803, 12816, 12842, 13071, 13081, 13085, 13130, 13182, 13331, 13422, 13432, 13446, 13449, 13660, 13687, 13766, 13866, 13874, 13875, 13877, 13899, 13911, 13968, 14000, 14127, 14205, 14294, 14305, 14323, 14325, 14529, 14612, 14621, 14678, 14746, 14917, 15064, 15071, 15102, 15301, 15306, 15312, 15383, 15403, 15446, 15486, 15656, 15755, 15763, 15770, 15875, 15921, 15927, 15977, 15982, 16008, 16046, 16099, 16368, 16518, 16659, 16668, 16704, 16710, 16776, 16781, 16804, 16968, 17042, 17063, 17404, 17429, 17431, 17532, 17587, 17721, 17738, 17795, 17861, 17871, 17894, 17916, 17917, 17977, 17986, 17995, 18109, 18143, 18217, 18262, 18274, 18290, 18436, 18462, 18549, 18600, 18675, 18769, 18785, 18804, 18847, 18855, 18954, 18965, 18978, 19008, 19034, 19144, 19149, 19332, 19343, 19411, 19450, 19525, 19612, 19709, 19907, 19976, 19981, 19997]
whilst: [0, 841, 13404, 14181, 16594]
drop: [1, 744, 836, 898, 932, 1133, 1397, 1433, 2520, 2972, 3052, 3641, 3948, 4036, 4341, 4420, 4960, 5419, 5523, 6457, 6549, 6632, 7137, 7362, 8101, 8261, 8277, 9210, 10816, 10830, 10855, 11981, 13480, 14369, 14951, 14986, 15494, 17673, 18434, 18764, 19045, 19747]
cost: [1, 926, 1723, 1913, 1987, 2104, 2467, 4577, 4593, 6004, 6379, 16222, 16616, 17326, 19077]

# tf-idf

In [42]:
import pandas as pd
import math
from collections import Counter

def calculate_tf_idf(data):
    documents = data['pr-text']
    total_docs = len(documents)
    
    # 1. Calculate Term Frequency (TF)
    tf = []  # List of dictionaries for each document
    for text in documents:
        tokens = text.split()
        total_terms = len(tokens)
        term_count = Counter(tokens)
        tf.append({term: count / total_terms for term, count in term_count.items()})
    
    # 2. Calculate Document Frequency (DF)
    df = {}
    for text in documents:
        unique_terms = set(text.split())
        for term in unique_terms:
            df[term] = df.get(term, 0) + 1
    
    # 3. Calculate Inverse Document Frequency (IDF)
    idf = {term: math.log(total_docs / df[term]) for term in df}
    
    # 4. Calculate TF-IDF
    tf_idf = []
    for doc_tf in tf:
        doc_tf_idf = {term: doc_tf[term] * idf[term] for term in doc_tf}
        tf_idf.append(doc_tf_idf)
    
    return tf_idf

# Calculate TF-IDF
data['tf_idf'] = calculate_tf_idf(data)

# View the result
print(data[['pr-text', 'tf_idf']].head())

                                             pr-text  \
0  sherilynmoon unfortun signal tweet photo phone...
1  drop car get brake look hope doesnt cost insan...
2  colin kelli clyde1 get one republ neyo im scho...
3  littl upset chanc take 4 5 realli cool pictur ...
4  batheaston bypass flow better london road stil...

                                              tf_idf
0  {'sherilynmoon': 1.2379296939107607, 'unfortun...
1  {'drop': 0.5605243575457017, 'car': 0.46816794...
2  {'colin': 0.9210290370726142, 'kelli': 0.75055...
3  {'littl': 0.610723676286357, 'upset': 0.402149...
4  {'batheaston': 1.1003819501428984, 'bypass': 1...

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(max_features=5000)  # You can adjust max_features to the number of features you want

# Fit the TF-IDF Vectorizer on the processed text and transform the text to a feature matrix
X = tfidf_vectorizer.fit_transform(data['pr-text']).toarray()
y=data["target"]

In [44]:

from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

svm_model = SVC(kernel='linear')  # Using linear kernel, you can experiment with other kernels
svm_model.fit(X_train, y_train)

# Step 5: Make predictions on the test data
y_pred = svm_model.predict(X_test)

# Step 6: Evaluate the model
print("Classification Report:")
print(classification_report(y_test, y_pred))

# Step 7: Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

Classification Report:
              precision    recall  f1-score   support

           0       0.77      0.73      0.75      2018
           4       0.74      0.78      0.76      1982

    accuracy                           0.76      4000
   macro avg       0.76      0.76      0.76      4000
weighted avg       0.76      0.76      0.76      4000

Accuracy: 0.7565